<?xml version="1.0" encoding="UTF-8"?>

<Configuration monitorInterval="60">
    <properties>
        <property name="LOG_HOME">${sys:LOG_HOME:-./logs}</property>
    </properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%d{ISO8601}]%highlight{[%-5p]}{INFO=green, DEBUG=green bold, TRACE=blue}%style{[%t]}{magenta}%style{[%class_method_file_codeline]}{cyan}%notEmpty{[%markerSimpleName]} %m%n"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <Console name="console_warn" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{ISO8601}][%-5p][%t][%class_method_file_codeline] %m%n}{WARN=yellow bold}"/>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <Console name="console_error" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{ISO8601}][%-5p][%t][%class_method_file_codeline] %m%n}{ERROR=bright red}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <Routing name="processInfo">
            <Routes pattern="processInfoPattern">
                <Route>
                    <RollingFile name="process_info_rolling" fileName="${LOG_HOME}/log/process_info.log"
                                 filePattern="${LOG_HOME}/log/process-info-%i-%d{yyyy-MM-dd}.log.gz">
                        <PatternLayout pattern="[%d{ISO8601}][%-5p][%t][%class_method_file_codeline]%notEmpty{[%markerSimpleName]} %m%n"/>
                        <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="ACCEPT"/>
                        <Policies>
                            <!--<TimeBasedTriggeringPolicy interval="6" modulate="true" />-->
                            <SizeBasedTriggeringPolicy size="100 MB" />
                        </Policies>
                        <DefaultRolloverStrategy>
                            <Delete BasePath="${LOG_HOME}/log">
                                <IfFileName glob="process-info-*.log.gz" />
                                <IfAccumulatedFileCount exceeds="10" />
                            </Delete>
                        </DefaultRolloverStrategy>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>

        <Routing name="processError">
            <Routes pattern="processErrorPattern">
                <Route>
                    <RollingFile name="process_error_rolling" fileName="${LOG_HOME}/log/process_error.log"
                                 filePattern="${LOG_HOME}/log/process-error-%i-%d{yyyy-MM-dd}.log.gz">
                        <PatternLayout pattern="[%d{ISO8601}][%-5p][%t][%class_method_file_codeline]%notEmpty{[%markerSimpleName]} %m%n"/>
                        <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
                        <Policies>
                            <!--<TimeBasedTriggeringPolicy interval="6" modulate="true" />-->
                            <SizeBasedTriggeringPolicy size="100 MB" />
                        </Policies>
                        <Policies>
                            <!--<TimeBasedTriggeringPolicy interval="6" modulate="true" />-->
                            <SizeBasedTriggeringPolicy size="100 MB" />
                        </Policies>
                        <DefaultRolloverStrategy max="10"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.eclipse.jetty" level="WARN"/>
        <Logger name="org.eclipse.jetty.util.log" level="ERROR"/>
        <Logger name="org.eclipse.jetty.util.component" level="ERROR"/>


        <Root level="debug">
            <AppenderRef ref="console" level="debug"/>
            <AppenderRef ref="console_error" level="ERROR"/>
            <AppenderRef ref="processInfo" level="info"/>
            <AppenderRef ref="processError" level="ERROR"/>
        </Root>
    </Loggers>
</Configuration>
